* {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;

    --blue--400: #60A5FA;
    --blue-gray-100: #F1F5F9;
    --blue-gray-200: #E2E8F0;
    --blue-gray-300: #CBD5E1;
    --blue-gray-400: #94A3B8;
    --blue-gray-600: #475569;
    --blue-gray-900: #0F172A;
    --green: #22C55E;
    --orange-700: #C2410C;
    --purple-100: #F3E8FF;
    --purple-300: #D8B4FE;
    --purple-400: #C084FC;
    --purple-600: #9333EA;
    --purple-800: #6B21A8;
    --purple-900: #581C87;
    --rose: #E11D48;
    --white: #FFFFFF;
}
body {
    font-size: 16px;
    background-color: #333;
    color: #000;

    width: 100vw;
    height: 30vh;
}